@import "tailwindcss";

@theme {
  --color-background: #011627;
  --color-accent: #ff0022;
  --color-secondary: #41EAD4;
  --color-main: #FDFFFC;
  --color-highlight: #B91372;
}

@layer base {
  body {
    @apply bg-background text-main min-h-screen m-0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}